@charset "utf-8";

html, body, div, footer, h1, h2, h3, h4, span, p, i {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}

/* 기본 스타일 */
body {
    color: black;
    font-size: 15px;
}

/* 전체적인 레이아웃 설계 */
body, html {
    width: 100%;
    height: 100%;
}
#wrapper {
    width: 640px;
    margin: 70px auto;
    box-sizing: border-box;
}


/* 상단바 */
header {
    background-color: white;
    padding: 10px 10px 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
header > div {
    margin: 0 auto;
    width: 640px;
}
header > div > div:nth-child(1) {
    display: inline-block;
    width: 280px;
    margin-left: 20px;
    font-size: 17px;
}
header > div > div:nth-child(2) {
    display: inline-block;
    width: 320px;
    margin-right: 14px;
    text-align: right;
    font-size: 14px;
    text-decoration: underline;
}


/* 1:1문의 */
#title {
    margin: 30px 20px 0;
    font-size: 28px;
    font-weight: bold;
}


/* 문의내역 */
#content {
    margin: 140px 20px 0;
    text-align: center;
    min-height: 270px
}
#content > div > img {
    width: 40px;
}
#content > div > p {
    margin-top: 15px;
    font-size: 16px;
    color: #666;
}


hr {
    margin: 0 20px;
}


/* 유의사항 */
#precautions {
    margin: 30px 20px 0;
    height: 240px;
}
#precautions > p {
    font-size: 18px;
    color: #4C4C4C;
    font-weight: bold;
    margin-bottom: 20px;
}
#precautions > div {
    font-size: 14px;
    color: #999;
}
#precautions > div > p {
    margin-bottom: 10px;
}
#precautions > div > p > a {
    text-decoration: underline;
}
#precautions > div:nth-child(3) {
    margin-top: 25px;
    color: #7F7F7F;
    font-weight: bold;
    cursor: pointer;
}